/* CSS reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/* CSS reset */

/* Import webfont */
@font-face {
  font-family:"norse-bold";
  src: url(./font/Norse-Bold/norse-bold-webfont.woff2) format("woff2"),
      url(./font/Norse-Bold/norse-bold-webfont.woff) format("woff");
}

body {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100vh;
}

.background {
    background-image: url(./my-new-character-meme-6.jpeg);
    background-size: cover;
}

.logo-title {
    margin:40vh 0;
    font-family:"norse-bold";
    font-size:2rem;
    text-align: center;
    color:aliceblue;
    background-color: rgba(0,0,0, 0.5);
    min-width:40vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

h1 {
  display:block;
  
}

img[id="chillGuy"] {
  max-width:40%;
  content:url(./95c.png);
  display:block;  
}

.form {
    background-color: antiquewhite;
    flex:1 0 auto;
    display:flex;
    flex-direction: column;
}

